<html>
<head>
</head>
<body>


	

	<label for="avatar">Upload image:</label>

	<input type="file"
	       id="avatar" name="files"
	       accept="image/png, image/jpeg">








<button onclick="send()">Upload</button>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>

<script>

var config = {"api_key": "aQnZfx", "code_url": "yomama_UZRGLG.py", "input_arr_length": "", "input_channels": "3", "input_height": "256", "input_type": "image", "input_width": "256", "model_url": "yomama_UZRGLG.pt", "name": "yomama", "output_arr_length": "", "output_channels": "1", "output_height": "256", "output_num_labels": "", "output_type": "image", "output_width": "256"};

function render() {

}
function send() {


var formData = new FormData()
formData.append("input_type", "image")
formData.append("files", document.getElementById("avatar").files[0])
axios.post('http://localhost:5000/api/v1/falcon_incoming_request', formData).then(function (response) {
    console.log(response);

  })
  .catch(function (error) {
    console.log(error);
  });








}


</script>

</html>