<html>
<head>
</head>
<body>
{% if config["input_type"] == "image" %}

	

	<label for="avatar">Upload image:</label>

	<input type="file"
	       id="avatar" name="files"
	       accept="image/png, image/jpeg">


{% endif %}


{% if config["input_type"] == "text" %}

	<label>Input text:</label>

	<input type="text"
	       id="avatar_text" name="avatar"
	       accept="text/*">

{% endif %}


<button onclick="send()">Upload</button>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>

<script>

function render() {

}
function send() {

{% if config["input_type"] == "image" %}
var formData = new FormData()
formData.append("input_type", "{{config["input_type"]}}")
formData.append("files", document.getElementById("avatar").files[0])
axios.post('http://localhost:5000/api/v1/falcon_incoming_request', formData).then(function (response) {
    console.log(response);

  })
  .catch(function (error) {
    console.log(error);
  });



{% endif %}


{% if config["input_type"] == "text" %}
axios.post('http://127.0.0.1:5000/api/v1/falcon_incoming_request', {
    input_type: 'text',
    input_data: document.getElementById("avatar_text").value

  }).then(function (response) {
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });

  {% endif %}

}


</script>

</html>